<footer class="footer bg-info py-3 mt-auto">
    <div class="me-5 d-flex justify-content-end">
        <span class="text-dark">
            &copy; webdev.jusi@gmail.com
        </span>
    </div>
</footer>