<% layout('layouts/boilerplate') %>
<div class="container col-lg-4 offset-lg-4">
    <h1 class="text-center m-3">Password Reset</h1>
    <%- include('../partials/flash') %>
    <form action="/resetPassword" method="POST" novalidate class="needs-validation">
        <div class="form-group">
            <label for="username">Email</label>
            <input class="form-control" type="email" id="username" name="username" required> 
        </div>
        <div class="flex-d">
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-success">Reset the Password!</button>
            </div>
        </div>
    </form>
</div>